/* --- applies to parent flex container element --- */

.flex-container{
	display: -webkit-flex;
	display: flex;				
}

.flex-container-inline{
	display: -webkit-inline-flex;
	display: inline-flex;		
}

.flex-wrap{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-wrap-reverse{
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.flex-direction-row-reverse{
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.flex-direction-column{
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-direction-column-reverse{
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.flex-justify-end{
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex-justify-center{
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-justify-space-between{
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flex-justify-space-around{
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.flex-align-items-start{
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.flex-align-items-end{
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.flex-align-items-center{
	-webkit-align-items: center;
	align-items: center;
}

.flex-align-items-baseline{
	-webkit-align-items: baseline;
	align-items: baseline;
}

.flex-align-items-stretch{ /* default */
	-webkit-align-items: stretch;
	align-items: stretch;
}

/* todo: 
	- align-content, flex-flow (shorthand for flex-direction and flex-wrap); 
	- behaviour of margin:auto;
	*/

/* --- applies to flex element --- */

.no-flex{
	-webkit-flex: none;
	flex: none;
}

.flex-1{
	-webkit-flex: 1;
	flex: 1;				
}

.flex-2{
	-webkit-flex: 2;
	flex: 2;				
}

.flex-initial{
	-webkit-flex: initial;
	flex: initial;
	min-width: 200px;
}

/* todo:
	- order, flex-grow, flex-shrink, flex-basis, align-self;
	- mediaqueries


